@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700;900&display=swap');


body{
    font-family: 'Montserrat', sans-serif;
}
header{
    background-size: contain;
    background: #37517E;
    background-image: url(../images/images.png);
    background-repeat: no-repeat;
    background-position: right center;
}
header img{
    width: 150px;
}
.blue{
    background-color: #47B2E4;
    color: #fff;
}

.banner-container{
    padding: 150px 0;
}
header h1{
    font-size: 42px;
    font-weight: 700;
    line-height: 1.6;
}
header p{
    line-height: 1.7;
    font-weight: 600;
    margin: 30px 0;
}
header.btn{
    font-weight: 500;
}

header a.btn{
    display: inline-flex;
    align-items: center;
    font-weight: 600;
}
header a.btn i{
    
font-size: 40px;
    
color: #47b2e4;
}

header.btn hover{
    box-shadow: 0 0.0.0 rgba(0, 0, 0, 0.0) !important;
    color: #fff;
}
 
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .nav-link.active {
    color: #09a1e8;
}

.partnar-section-two{
    margin: 100px 0;
}
.partnar-section-two img{
    width: 100px;
    padding: 30px 0;
    padding-left: 20px;
}
.partnar-section-two h1{font-size: 25px;font-weight: 600;padding-bottom: 10px;}
.partnar-section-two p{
    line-height: 1.8;
}

.banner-container-two h1{
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 20px;
    padding-top: 10px;
    line-height: 1.5;
}
.banner-container-two p{
    font-size: 18px;
    line-height: 1.9;
    padding: 15px 0;
}
.banner-container-two a{
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    padding-left: 15px;
    align-items: center;
    display: inline-flex;
}
.banner-container-two a i{
    font-size: 25px;
    padding-left: 15px;
}

ection-2{
    
}
.banner-container-three{
    background-color: #EAF5FC;
    padding: 150px 0;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: 580px;
    background-position: left;
}
.banner-container-three h1{
    font-size: 35px;
    font-weight: 700;
    line-height: 1.5;
}
.banner-container-three p{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.7;
    padding: 50px 0;
}
.banner-container-three a{
    font-size: 18px;
    font-weight: 600;
}
.banner-container-three a .btn

.section-three{}
.section-three h1{
    font-size: 32px;
    font-weight: 600;
    line-height: 1.6;
}
.section-three a{
    text-decoration: none;
    font-size: 19px;
    line-height: 2.4;
    color: black;
    font-weight: 600;
}
.section-three a i{
    font-size: 25px;
    padding-right: 9px;
}
.features-section{
    background: #abd2e659;
}
.features-section h1{
    padding-top: 100px;
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 20px;
}
.features-section p{
    font-size: 17px;
    line-height: 1.8;
}
.features-section img{
    width: 80px;
    padding-top: 30px;
    padding-left: 25px;
}
.features-section h3{
    font-size: 25px;
    font-weight: 600;
    padding: 20px 26px;
}
.features-section p{
    padding-left: 25px;
    font-size: 16px;
}

@media(max-width: 1399px){
    header{
        background-size: 600px;
    }
    .banner-container-three h1 {
    font-size: 30px;
    }
    .banner-container-three p {
    font-size: 17px;
    padding: 16px 0;
}
.py-3 {
    padding-top: 0rem !important;
    padding-bottom: 4rem !important;
}
.banner-container-two h1 {
    font-size: 30px;
    padding-bottom: 0px;   
}
.banner-container-two p {
    font-size: 16px;
    padding: 0px 0;
}
.section-three h1 {
    padding: 6px 0px;
    line-height: 1.8;
    font-size: 28px;
}
.section-three a {
    font-size: 16px;
    line-height: 3.4;
}
}
@media(max-width: 1199px){
header h1 {
    font-size: 30px;
}
header p {
    margin: 14px 0;
}
.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
.p-5 {
    padding: 2rem !important;
}
.partnar-section-two img {
    width: 80px;
    padding: 10px 0;
    padding-left: 14px;
}
.partnar-section-two h1 {
    font-size: 23px;
    padding-bottom: 0px;
    padding-left: 16px;
}
.partnar-section-two p {
    line-height: 1.6;
}
.partnar-section-two h1 {
    font-size: 20px;
    padding-bottom: 0px;
    padding-left: 0px;
}
.m-3 {
    margin: 1rem !important;
    padding-top: 20px;
}
.banner-container-three h1 {
    font-size: 25px;
}
.banner-container-three p {
    font-size: 16px;
    padding: 5px 0;
}
.banner-container-three a {
    font-size: 13px;
}
.banner-container-three {
    background-size: 510px;
}
.section-three h1 {
    padding: 20px 0px;
    font-size: 23px;
}
.section-three a {
    font-size: 13px;
    line-height: 4.4;
}
.features-section h1 {
    font-size: 40px;
    padding-bottom: 10px;
}
.features-section h3 {
    font-size: 16px;
    padding: 8px 23px;
}
.features-section p {
    padding-left: 20px;
    font-size: 13px;
}    
}
@media(max-width: 991px){
header h1 {
    font-size: 21px;
}
header p {
    margin: 10px 0;
    font-size: 13px;
}
header a.btn {
    font-size: 12px;
}
header {
    background-size: 500px;
}
.p-5 {
    padding: 1rem !important;
}
.partnar-section-two h1 {
    font-size: 16px;
}
.partnar-section-two p {
    line-height: 1.0;
    font-size: 15px;
}
.m-3 {
    padding-top: 21px;
}
.banner-container-three h1 {
    font-size: 16px;
}
.banner-container-three p {
    font-size: 13px;
    padding: 0px 0;
}
.banner-container-three a {
    font-size: 10px;
}
.banner-container-three {
    background-size: 400px;
}
.section-three h1 {
    padding: 8px 0px;
    font-size: 17px;
}
.section-three a {
    font-size: 9px;
    line-height: 4.4;
    font-weight: 600;
}    
}
@media(max-width: 767px){
 header {
    background-image: url();
}
header h1{
    font-size: 40px;
    text-align: center;   
}
header p{
    font-size: 17px;
    text-align: center;   
}
.banner-container-three {
    background-image: url();
}
.banner-container-three h1{
     font-size: 30px;
    text-align: center;   
}
.banner-container-three p{
     font-size: 14px;
    text-align: center;   
}
.section-three a {
    font-size: 8px;
}
.features-section h1 {
    font-size: 37px;
    text-align: center; 
}
.features-section p {
   font-size: 20px;
}   
}
@media(max-width: 575px){
    
}